* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(86, 190, 82);
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-top: 5rem;
  color: blue;
}
form {
  width: 80vw;
  margin-top: 5rem;
}

legend {
  font-weight: bold;
  color: blue;
}

fieldset {
  padding: 2rem;
}

button {
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: blue;
}
